<h1>Timetable Generator v 0.2</h1>
<p>{{status.value}}</p>
<button *ngIf="(status.value == 'start')" (click)="generateFunc()">Generate</button>
<app-timetable-view *ngIf="status.value != 'start'" [tables]="lessons.value" [sts]="status" (tableFunc)="updateHandler($event)"></app-timetable-view>
