<table *ngIf="sts.value != 'start'">
  <tr>
    <td><button (click)="stopFunc()">Остановить</button> </td>
    <td *ngIf="sts.value == 'obtained'"><button (click)="getTableFunc()">Следующий вариант</button></td>
    <td><button [hidden]="true" (click)="saveThisTableFunc()">Сохранить</button></td>
  </tr>
</table>
<div *ngFor="let groupTimetable of tables">
  <h3>Группа {{groupTimetable.group}}</h3>
<table class="table t1" >
<thead>
<tr>
  <td>День</td>
  <td>№ урока</td>
  <td>Предмет</td>
  <td>Кабинет</td>
  <td>Преподаватель</td>
</tr>
</thead>
  <tr *ngFor="let lessons of groupTimetable.lessons">
    <td>{{lessons.day}}</td>
    <td>{{lessons.subjNum}}</td>
    <td>{{lessons.subjName}}</td>
    <td>{{lessons.auditory}}</td>
    <td>{{lessons.teacher}}</td>
  </tr>
</table>
</div>
